# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.zip
*.mp4
*.egg-info/
.dist/
build/
dist/

# Local env
.env
.venv/
venv/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data artifacts
runs/*
data/*

# NodeODM persistent store
nodeodm_data/
